.sum {

	display: flex; 
	justify-content: center; 
	padding-top: 200px; 
	padding-right: 80px; 
	font-weight: 999; 
	font-size: xx-large; 
	color: red; 


}


#equation {
		font-size: xxx-large;


}


#measurement {
		display: flex; 
		justify-content: center;
		color: white;  
		
}



.measurement {

		padding-right: 60px; 



}

body {
	background-color: black; 

}
