  
#sum {

	display: flex; 
	justify-content: center; 
	padding-top: 200px; 
	padding-right: 80px; 
	font-weight: 999; 
	font-size: xxx-large; 
	color: red; 


}


#measurement {
		display: flex; 
		justify-content: center; 
		
}



.measurement {

		padding-right: 60px; 



}
